@model List<TravelTripProject.Models.Sınıflar.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            @foreach (var item in Model)
            {
                <img src="@item.ImageURL" alt="" />
                <p>@item.Description</p>
            }

        </div>
    </div>
</div>

